<h1>COCKTAILS INDEX PAGE</h1>

<h3>Cocktails list below:</h3>

<table>
  <tbody>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>

    <% @cocktails.sort.each do |cocktail|%>
      <tr>
        <td><%= cocktail.id%></td>
        <td><%= link_to "#{cocktail.name}", cocktail_path(cocktail)%></td>
        <td><%= link_to "Edit", edit_cocktail_path(cocktail)%></td>
        <td><%= link_to "Delete", cocktail_path(cocktail.id), method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p></p>
<p></p>

<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
