<h2>Cocktails</h2>

<p id="notice"><%= notice %></p>

<% if @cocktails.empty? %>
  <p class="no-results-msg">No results found.</p>
<% else %>
  <div class='row'>

    <% @cocktails.each do |cocktail| %>

        <% desc = cocktail.description || '' %>
        <% desc_truncate_length = 70 %>
        <% desc_truncated = desc.length > desc_truncate_length ? desc[0...desc_truncate_length] + '…' : nil %>

        <div class="col-sm-6 col-md-4 th-parent">

          <%= link_to cocktail_path(cocktail), class: 'th-link' do %>
            <div class="thumbnail homepage-thumb">
              <%= render 'cocktail_img', cocktail: cocktail %>
              <div class="caption">
                <h3><%= cocktail.name %></h3>

                <% if desc_truncated.nil? %>
                  <p><%= cocktail.description %></p>
                <% else %>
                  <p title='<%= cocktail.description %>'>
                    <%= desc_truncated %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

    <% end %>

  </div>

  <br>

  <% pgs_below_above = 2 %>

  <% min = @page_idx - pgs_below_above %>
  <% max = @page_idx + pgs_below_above %>

  <% rng = (min..max) %>

  <% if min < 0 %>
    <% min = 0 %>
    <% max = [min + (pgs_below_above) * 2, @max_page_idx].min %>
  <% elsif max > @max_page_idx %>
    <% max = @max_page_idx %>
    <% min = [max - (pgs_below_above) * 2, 0].max %>
  <% end %>

  <% rng = min..max %>

  <% prev_exists = @page_idx > 0 %>
  <% next_exists = @page_idx <= @max_page_idx - 1 %>

  <nav aria-label="pagination">
    <ul class="pagination">

      <li class='<%= prev_exists ? '' : 'disabled'  %>'>
        <%= link_to '«', cocktails_path(page: 1), class: 'page-link' %>
      </li>

      <% rng.each do |n| %>
        <li class='<%= n == @page_idx ? 'active' : ''  %>'>
          <%= link_to "#{n + 1}", cocktails_path(page: n + 1), class: 'page-link' %>
        </li>
      <% end %>

      <li class='<%= next_exists ? '' : 'disabled'  %>'>
        <%= link_to '»', cocktails_path(page: @max_page_idx + 1), class: 'page-link' %>
      </li>


    </ul>
  </nav>
<% end %>

