<header>
  <div id='logo-bar'>
    <div class='logo-bar-inner'>
      <%= link_to :root, class: "link-nodecorate" do %>
        <div id="logo">
          <div class="logo-shadow"></div>
        </div>
      <% end %>
      <%= link_to :root, class: "link-nodecorate" do %>
        <div class="heading">
          <h1>Mix-a-Lot</h1>
          <p><em>We cannot lie — our cocktail recipes are the best!</em></p>
        </div>
      <% end %>
    </div>
  </div>

  <nav id='top-nav'>
    <ul class="nav nav-tabs nav-list">
      <%
        is_homepage = %i[root cocktails].any? { |el| current_page? el } && (!params[:q] || params[:q].empty?)
      %>

      <%
        tabs = [
          { txt: 'Home', icon: 'home', path: :root, alt_path: :cocktails, active: is_homepage },
          { txt: 'Create', icon: 'plus', path: :new_cocktail, active: current_page?(:new_cocktail) },
          { txt: 'Random', path: :random_cocktail, method: :post, active: false }
        ]
      %>

      <% tabs.each do |tab| %>

        <%
          classes = []
          classes << 'active' if tab[:active]
          classes += (tab[:classes] || [])
        %>

        <li role="presentation" class="<%= classes.join(' ') %>">
          <%= link_to tab[:txt], tab[:path], method: tab[:method] || :get, class: 'hidden-xs' %>
          <% if tab[:icon] %>
            <%= link_to tab[:path], class: 'visible-xs' do %>
              <%= fa_icon tab[:icon] %>
            <% end %>
          <% end %>
        </li>


      <% end %>

      <li role="presentation" class='search-outer'>
        <%= render 'search_form' %>
      </li>
    </ul>
  </nav>
</header>
